<h2 class="text-center">Nome: <%= @department.name %></h2>

<%= link_to 'Editar', edit_department_path(@department), class: "btn btn-xs btn-primary" %>
<%= link_to 'Deletar', department_path(@department), method: :delete,
data: {confirm: "Você tem certeza?"},
class: "btn btn-xs btn-danger" %>
<%= link_to 'Ver todos os departments', departments_path, class: "btn btn-xs btn-success" %>
