<main class="cover">
  <div class="text-center cover-text">
    <h1>PocWeb</h1>
    <p class="lead">Commodo quis cillum ipsum excepteur deserunt ut cupidatat qui incididunt excepteur adipisicing ut et ipsum quis magna.</p>
    <a href="login.html" role="button" class="btn btn-primary btn-lg btn-xlarge">Pagina de Login</a>
  </div>
</main>
