@import "bootstrap-sprockets";
@import "bootstrap";



html,
body,
main,
.cover{
  height: 100%;
}

.row {
  width: 100%;
}

body {
  padding-top: 50px;
}

nav.navbar-default {
  background: rgba(255, 255, 255, 0.9);
}

#logo {
  font-size: 1.7em;
  color: #666;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #666;
  text-decoration: none;
}

.cover {
  background-image: asset-url('cover.jpg');
  background-size: cover;
  display: table;
  width: 100%;
  padding: 0 20%;
  box-shadow: inset 0 0 100px #000;
}

.cover-text {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.cover-text h1 {
  margin: 0;
  font-size: 70px;
  letter-spacing: -3px;
}

.btn-xlarge {
  font-size: 1.7em;
  text-shadow: none;
}

footer {
  color: white;
  position: fixed;
  bottom: 0;
}

.departamento-title {
  font-weight: bold;
  font-size: 1.5em;
}

//Login page

.form-signin {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  border-radius: 10px;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
