@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 50px; 
}

html,
body,
.cover {
  height: 100%;
}

nav.navbar-default {
  background: rgba(255, 255, 255, 0.9);
}

#logo {
  font-size: 1.7em;
  color: #666;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #666;
  text-decoration: none;
}

.cover {
  background-image: asset-url('cover.jpg');
  background-size: cover;
  display: table;
  width: 100%;
  padding: 0 20%;
  box-shadow: inset 0 0 100px #000;
}

.cover-text {
  color: white;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

.cover-text h1 {
  margin: 0;
  font-size: 70px;
  letter-spacing: -3px;
}

.btn-xlarge {
  font-size: 1.7em;
  text-shadow: none;
}

footer {
  color: white;
  position: fixed;
  bottom: 0;
}
